$light_black: #2b1833;
$black: #212529;
$red: #dc3545;
$blue: #007bff;
$purple: #6f42c1;
$red: #b12a2a;
$green: #2a962a;
$teal: #43b136;
$blue: #1866b1;
$zindex: 99999999999999;
$light: rgba(rgb(249, 249, 249), 0.5);

// $main: #1b2655;
