@import "../styles/variables";
@import "../styles/utilities";

.login__btn__wrapper {
  @include flex_layout();
  margin-top: 20px;
  .btn {
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding: 13px 16px;
    border-radius: 50px;
    z-index: $zindex;
    border: none;
    background-color: $purple;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
  }

  .login__button,
  .close__button {
    @extend .btn;
  }

  .close__button {
    margin-right: 10px;
    background-color: white;
    border: 1px solid rgb(162, 162, 162);
    color: black;
  }
}

.input__wrapper {
  z-index: $zindex;
  padding: 1px 0;
  margin-bottom: 20px;
  & > label {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 15px;
    color: rgba(black, 0.6);
  }

  & > div {
    position: relative;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 3.2px;
    overflow: hidden;
    border: 0.1px solid rgba(black, 0.2);
    border-radius: 15px;
    .input__icon {
      width: 55px;
      height: 100%;
      padding: 15px;
      color: #999999;
    }
    & > input {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}

.title {
  font-size: 23px;
  font-weight: bolder;
  padding: 0px 20px;
  padding-bottom: 12px;
  border-bottom: 3px solid $purple;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 25px;
}

.extension__login__form {
  @include flex_layout(null, null, column);
  pointer-events: auto !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zindex;
  background-color: white;
  padding: 30px;
  width: 35vw;
  min-height: 55vh;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(black, 0.12);
}
