@import "../styles/variables";
@import "../styles/utilities";

.main__tooltip {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(black, 0.1));
  padding: 15px;
  z-index: $zindex;
  width: 350px;
  box-sizing: border-box;
  visibility: visible;

  .preview__mode__wrapper {
    .preview__badge {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 25px;
      height: 25px;
      background-color: $purple;
      border-radius: 100%;
      color: white;
      font-size: 15px;
      @include flex_layout();
    }
    .preview__title {
      margin-bottom: 10px;
      font-weight: bolder;
      color: black;
      text-align: center;
      font-size: 20.8px;
    }

    .preview__desc {
      color: rgba(black, 0.8);
      font-weight: lighter;
    }
  }

  .button {
    font-weight: bold;
    color: white;
    padding: 5px 9px;
    border-radius: 3px;
    border: none;
    font-size: 13px;
    background-color: $purple;
    font-weight: lighter;
    cursor: pointer;
    .icon {
      font-size: 20px;
    }
  }

  .button:focus {
    outline: none;
  }

  .title__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .show__icon {
      font-size: 16px;
      color: $black;
    }

    .tooltip__close__btn {
      font-size: 16px;
      color: black;
    }

    .title {
      border: none;
      font-size: 20.8px;
      color: black;
      font-weight: bold;
      text-align: center;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  &__box {
    .desc {
      border: none;
      font-size: 1.1rem;
      color: rgba(black, 0.8);
      width: 100%;
      &:focus {
        outline: none;
        border: none;
      }
    }

    display: flex;

    .ext__tooltip__btn {
      color: white;
      padding: 5px 9px;
      border-radius: 3px;
      border: none;
      font-size: 13px;
      cursor: pointer;
      background-color: $black;
      .icon {
        font-size: 20px;
      }
    }
  }
}
